{% comment %}
<!--
Determine an image and its shape for the page.
-->
{% endcomment %}

{% if page.title == "Home" %}
  {% assign image_url = "/images/masatoshi_face_300.png" %}
  {% assign clip      = "clip-right-point" %}
{% elsif page.title == "About" %}
  {% assign image_url = "/images/masatoshi_chinatown_300.png" %}
  {% assign clip      = "clip-shogi" %}
{% elsif page.title == "Blog" %}
  {% assign image_url = "/images/mount_fuji_300_150.png" %}
  {% assign clip      = "clip-message" %}
{% else %}
  {% assign image_url = "/images/logo_200.png" %}
  {% assign clip      = "clip-circle" %}
{% endif %}

{% comment %}
<!--
Determine an image and its shape based on page title.
-->
{% endcomment %}

{% if page.id or page.url contains "tags" %}
  <style>
    /* Reduce height for blog posts and tags */
    .large-header,
    #hero-canvas {
      height: 250px;
      min-height: 250px;
    }
  </style>
{% endif %}

<header class="large-header">

  <canvas id="hero-canvas"></canvas>

  <div class="hero-content">

    {% if page.title == "Home"
       or page.title == "About"
       or page.title == "Blog"
       or page.title == "Projects" %}
      <a
        href="#scroll-to"
        class="{{ clip }} clip-wrapper page-scroll">
        <img
          src="{{ image_url | prepend: site.baseurl }}"
          alt="Masatoshi Nishiguchi"
          class="{{ clip }} clip-inner">
      </a>
    {% endif %}

    {% if page.title == "Home" %}
      <h1 class="intro-title">
        <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
        <small class="tagline">{{ site.tagline }}</small>
      </h1>

    {% elsif page.id %}
      <h1 class="intro-title">{{ page.title }}</h1>
      {% include post_meta.html %}

    {% elsif paginator %}
      <h1 class="intro-title">
        {{ page.title }}
        <small>
          Page #{{ paginator.page }} of {{ paginator.total_pages }}
        </small>
      </h1>

    {% else %}
      <h1 class="intro-title">{{ page.title }}</h1>
    {% endif %}
  </div>
</header>

<div id="sticky-anchor"></div>

<div id="sticky" class="scroll-control">
  <a class="page-scroll" href="#scroll-to">
    <div
      id="rotating-icon"
      class="cbutton cbutton--effect-radomir btn-scroll">
      <i class="cbutton__icon fa fa-angle-down fa-fw"></i>
    </div>
  </a>
</div>

<div id="scroll-to"></div>
