<footer class="site-footer">
  <div class="container">
    <div class="contact-info">
      <span>
        &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>.
        {{ site.author.name }}
      </span>
    </div>

    <div class="social-links">
      {% if site.author.github_url %}
        <a class="cbutton cbutton--effect-radomir" href="{{ site.author.github_url }}">
          <i class="cbutton__icon fa fa-github"></i>
          <!-- <span class="cbutton__text"></span> -->
        </a>
      {% endif %}

      {% if site.author.twitter_url %}
        <a class="cbutton cbutton--effect-radomir" href="{{ site.author.twitter_url }}">
          <i class="cbutton__icon fa fa-twitter"></i>
          <!-- <span class="cbutton__text"></span> -->
        </a>
      {% endif %}

      {% if site.author.stackoverflow_url %}
        <a class="cbutton cbutton--effect-radomir" href="{{ site.author.stackoverflow_url }}">
          <i class="cbutton__icon fa fa-stack-overflow"></i>
          <!-- <span class="cbutton__text"></span> -->
        </a>
      {% endif %}
      <div class="clearfix"></div>
    </div>
  </div>
</footer>
