<header class="masthead">

  <h3 class="masthead-title">
    <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
    <small>{{ site.tagline }}</small>
  </h3>

  <nav>
    {% for page in site.pages_list %}
      <a href="{{ page[1] | prepend: site.baseurl }}">{{ page[0] }}</a>
    {% endfor %}
  </nav>

</header>


<!--
<aside class="site-navigaton">
  <div class="container">

    <nav>
      <ul>
        {% for page in site.pages %}
          {% if page.title %}
            <li>
              <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">
                {{ page.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
        <li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li>
      </ul>
    </nav>
  </div>
</aside>

<header>
  <h1>
    <a id="site-title" href="{{ site.baseurl }}/">
    {{ site.title }}
    </a>
  </h1>
</header>
 -->
