<!-- Load vendor libraries -->
<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<script src="/js/vendor/classie.js"></script>
<script src="/js/vendor/svganimations2.js"></script>
<script src="/js/vendor/modernizr.custom.js"></script>
<script src="/js/vendor/cbutton.js"></script>

<!-- Header animation -->
<script src="/js/vendor/TweenLite.js"></script>
<script src="/js/vendor/EasePack.js"></script>
<script src="/js/vendor/animated-background-header.js"></script>

<!-- Load custom js -->
<script src="/js/custom.js"></script>

<noscript>Your browser does not support JavaScript!</noscript>
