<aside class="masthead" id="masthead">
  <section class="logo-wrapper">
    <svg id="theLogo" class="line-drawing" width="84" height="84" xmlns="http://www.w3.org/2000/svg">
      <path class="darker" d="M 80.889194,41.80541 C 80.889194,63.45198 63.341174,81 41.694594,81 20.048024,81 2.5,63.45198 2.5,41.80541 2.5,20.158827 20.048024,2.61081 41.694594,2.61081 c 21.64658,0 39.1946,17.548017 39.1946,39.1946 z"/>
    </svg>
    <div data-svg="theLogo" class="logo hide"></div>
  </section>

  <!-- <h3 class="masthead-title">
    <a href="{{ site.baseurl }}/" title="Home" id="logo">{{ site.title }}</a>
    <small id="logo--tagline">{{ site.tagline }}</small>
  </h3> -->

  <nav>
    <ul>
    {% for page in site.pages_list %}
      <li class="nav-item">
        <a class="nav-link" href="{{ page[1] | prepend: site.baseurl }}">{{ page[0] }}</a>
      </li>
    {% endfor %}
    </ul>
  </nav>

  <div id="hamburger">&#8801</div>
</aside>

<header class="header-canvas" style="background: url(http://i.imgur.com/kVJs7Pb.jpg);">
  <div class="intro-content h1">
    <a href="{{ site.baseurl }}/" title="Home" id="logo">{{ site.title }}</a>
    <small id="logo--tagline">{{ site.tagline }}</small>
    <!-- <img src="http://placehold.it/600x200?text=Awesome Website" class=" img-centered" alt=""> -->
  </div>
  <br />
  <div class="scroll-wrapper">
    <button class="cbutton cbutton--effect-radomir btn-scroll-down">
      <i class="cbutton__icon fa fa-angle-down fa-fw"></i>
      <!-- <span class="cbutton__text">Play</span> -->
    </button>
  </div>

</header>

<style>
  .logo {
    background: url({{ site.baseurl }}/img/mn_logo_80.png);
  }
</style>
