<aside class="masthead" id="masthead">
  <h3 class="masthead-title">
    <a href="{{ site.baseurl }}/" title="Home" id="logo">{{ site.title }}</a>
    <small id="logo--tagline">{{ site.tagline }}</small>
  </h3>

  <nav>
    <ul>
    {% for page in site.pages_list %}
      <li class="nav-item">
        <a class="nav-link" href="{{ page[1] | prepend: site.baseurl }}">{{ page[0] }}</a>
      </li>
    {% endfor %}
    </ul>
  </nav>

  <div id="hamburger">&#8801</div>
</aside>

<header class="header-canvas" style="background: url(http://i.imgur.com/kVJs7Pb.jpg);">
  <div class="intro-content h1">
    Under construction...
    <!-- <img src="http://placehold.it/600x200?text=Awesome Website" class=" img-centered" alt=""> -->
  </div>
  <button class="cbutton cbutton--effect-radomir">
    <i class="cbutton__icon fa fa-angle-down fa-fw"></i>
    <!-- <span class="cbutton__text">Play</span> -->
  </button>
</header>
