<div id="logo-wrapper">
  <a href="{{ site.baseurl }}/" title="Home" id="logo">
    <svg
      id="logo-svg"
      class="line-drawing"
      xmlns="http://www.w3.org/2000/svg">
      <path class="darker" d="M 80.889194,41.80541 C 80.889194,63.45198 63.341174,81 41.694594,81 20.048024,81 2.5,63.45198 2.5,41.80541 2.5,20.158827 20.048024,2.61081 41.694594,2.61081 c 21.64658,0 39.1946,17.548017 39.1946,39.1946 z" />
    </svg>
    <div
      data-svg="logo-svg"
      class="logo hide"
      style='background: url("{{site.baseurl}}/images/logo_80.png");'>
    </div>
  </a>
</div>

<a
  href="#open-navigation"
  title="Open"
  class="hamburger">
  &#8801
</a>

<nav id="open-navigation">
  <a
    href="#"
    title="Close"
    class="close-modal">
    &#x2715;
  </a>
  <ul id="nav-menu">
    {% for each in site.navigation_items %}

      {% if each[1] == page.url %}
        <li class="nav-item active">
          <a class="nav-link">{{ each[0] }}</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a
            href="{{ each[1] | prepend: site.baseurl }}"
            class="nav-link">
            {{ each[0] }}
          </a>
        </li>
      {% endif %}

    {% endfor %}
  </ul>
</nav>
