// Masthead
//
// Super small header above the content for site name and short description.

$masthead-height: 70px;
$hanburger-menu-item-height: 40px;
$hamburger-side: 44px;

#hamburger {
  background: $gray-1;
  position: absolute;
  top: 13px;
  right: 10px;
  display: inline-block;
  border: 1px solid $gray-3;
  width: $hamburger-side;
  height: $hamburger-side;
  line-height: $hamburger-side;
  text-align: center;
  float: right;
  cursor: pointer;
  &:hover {
    background: lighten($link-hover-color, 30%);
  }
  @media only screen and (min-width : 768px) { display: none; }
}

.masthead-title {
  display: inline-block;
  margin: 0;
  line-height: $masthead-height;
  height: $masthead-height;
  vertical-align: middle;
  color: $gray-4;
  @media only screen and (min-width : 768px) { display: inline-block; }
  a { color: inherit; }
  small {
    display: none;
    font-size: 75%;
    font-weight: 400;
    opacity: .5;
    @media only screen and (min-width : 900px) { display: inline-block; }
  }
}
.masthead {
  display: block;
  background: white;
  padding: 0 .5rem;
  overflow: hidden;
}
.masthead nav {
  display: block !important; // Ensure visibility during the transition.
  height: 0;
  &.slide-down{ transition: .1s linear all; height: 220px; }
}
.masthead ul {
  list-style: none;
  padding: 0;
  li {
    display: block;
    height: $hanburger-menu-item-height;
    line-height: $hanburger-menu-item-height;
    a {
      color: $gray-3;
      display: block;
      font-size: 80%;
      padding: 0 .5rem;
      width: 100%;
      line-height: inherit;
      height: inherit;
      transition: color 0.6s, background 0.6s;
      &.active {
        background: none;
        font-weight: bold;
        cursor: default;  // Use default cursor instead of the finger pointer.
      }
      &:hover {
        color: $link-hover-color;
      }
    }
  }
}
@media only screen and (min-width : 768px) {
  .masthead-title {
    display: inline-block;
  }
  .masthead nav {
    display: inline-block;
    float: right;
    ul {
      padding-top: 0;
    }
    li {
      display: inline-block;
      width: auto;      // Deactivate width 100%.
      border-top: none; // Remove separators.
      line-height: $masthead-height;
      height: $masthead-height;
      a {
        line-height: $masthead-height;
        height: $masthead-height;
      }
    }
  }
}

// Remove the default underline associated with links.
.masthead nav li a,
.masthead nav li a.active,
.masthead nav li a:hover,
.masthead nav li a.active:hover {
  text-decoration: none;
}

.header-canvas {
  background: $black;
  padding: 0px 15px;
  text-align: center;
  margin: 0 0 30px 0;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
