// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts.
// Each page is wrapped in `.page` and is only used on the page layout.

@mixin post-tag($font-size) {
  a {
    font-size: $font-size;
    padding: 0 .3rem;
    margin: 0 .1rem;
    background: $link-color;
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}

.page,
.post {
  margin-top: 2em;
  margin-bottom: 4em;

  li + li {
    margin-top: .25rem;
  }
}

/**
 *  Blog post or page title
 */
.page-title,
.post-title,
.post-title a {
  color: $heading-font-color;
}
.page-title,
.post-title {
  margin-top: 0;
}

/**
 *  Meta data line below post title
 */
.post-meta {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #9a9a9a;
  time {
    margin-right: .5rem;
  }
  .post-tags {
    @include post-tag(.8rem);
  }
}

/**
 *  Related posts
 */
 aside.related {
   padding-top: 2rem;
   padding-bottom: 2rem;
   margin-bottom: 2rem;
   border-top: 1px solid #eee;
   border-bottom: 1px solid #eee;
 }
.related-posts {
  padding-left: 0;
  list-style: none;
  li {
    &>a {
      font-size: 22px;
      line-height: 1;
      &:hover {
        color: $link-hover-color;
        text-decoration: none;
      }
    }
  }
}

/**
 * Styles for _pages/tags.html
 */
.tag-cloud {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    @include post-tag(1rem);
  }
}
// To offset an HTML anchor destination.
.posts-by-tags {
  h3:before {
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 50px;
    margin-top: -50px
  }
}
