@import url(https://fonts.googleapis.com/css?family=PT+Serif);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
@import url(https://fonts.googleapis.com/css?family=Muli:400,400italic,300);
@import url(https://fonts.googleapis.com/css?family=Roboto:100italic);

// Swatch
$gray-1: #f9f9f9;
$gray-2: #ccc;
$gray-3: #767676;
$gray-4: #515151;
$gray-5: #313131;

$black: #1D1425;
$black-transparent: rgba(29, 20, 37, .9);

$red: #ac4142;
$orange: #d28445;
$yellow: #f4bf75;
$green: #90a959;
$cyan: #75b5aa;
$blue: #268bd2;
$brown: #8f5536;

// Configure colors for the app.
$root-font-family: "PT Serif", "Helvetica Neue", Arial, sans-serif;
$root-font-size: 16px;
$root-line-height: 1.5;

$body-color: $gray-4;
$body-bg: #fff;
$link-color: $blue;
$link-hover-color: #6a9fb5;

$heading-font-family: 'Muli', "Helvetica Neue", Arial, sans-serif;
$heading-font-color: #425469;

$introduction-font-family: 'Roboto', "Helvetica Neue", Arial, sans-serif;

$border-color: #e5e5e5;

$large-breakpoint: 38em;
$large-font-size: 20px;

$code-font-family: Menlo, Monaco, "Courier New", monospace;
$code-color: #bf616a;

$image-background:       lighten($link-hover-color, 30%);
$image-background-hover: lighten($link-hover-color, 20%);
