---
layout: page
title: Blog
# I place /blog/index.html in the root directory so that I can use paginator for the Blog page.
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <h2 class="post-title">
        <a href="{{ post.url | prepend: site.baseurl }}">
          {{ post.title }}
        </a>
      </h2>

      {% include post_meta.html %}

      {{ post.excerpt }}

      {% if post.excerpt != post.content %}
          <a href="{{ post.url | prepend: site.baseurl }}">Read more >></a>
      {% endif %}
    </article>
  {% endfor %}
</div>

{% include pagination.html %}
